*.iml

/android/*.iml
.gradle
/android/local.properties
/android/.idea/caches
/android/.idea/libraries
/android/.idea/modules.xml
/android/.idea/workspace.xml
/android/.idea/navEditor.xml
/android/.idea/assetWizardSettings.xml
/android/.DS_Store
/android/build
/android/captures
/android/.externalNativeBuild
/android/.cxx
/android/local.properties


/ios/*.iml
.gradle
/ios/local.properties
/ios/.idea/caches
/ios/.idea/libraries
/ios/.idea/modules.xml
/ios/.idea/workspace.xml
/ios/.idea/navEditor.xml
/ios/.idea/assetWizardSettings.xml
/ios/.DS_Store
/ios/build
/ios/captures
/ios/.externalNativeBuild
/ios/.cxx
/ios/local.properties